.inputGroup {
    margin-bottom: 1rem;
}

.inputGroup input,
.inputGroup select {
    width: 50%;
    padding: 0.3rem;
    border: 1px solid #CED4DA;
    border-radius: 4px;
    font-size: 0.8rem;
}

.inputGroup input:focus,
.inputGroup select:focus {
    outline: 1px solid #4CAF50;
}

.inputGroup select {
    background-color: #f8f9fa;
}

.searchGroup {
    display: flex;
    align-items: center;
}

.searchGroup input {
    flex: 1;
    margin-right: 8px;
    height: 50%;
}

.searchButton {
    padding: 4px 8px;
    background: #4CAF50;
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    height: 36px;
}

.searchButton span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-size: 15px;
}

.searchButton:hover {
    background-color: #45A049;
    border: 1.5px solid rgb(115, 255, 255);
    color: rgb(115, 255, 255);
}

.searchButton:hover span {
    padding-right: 25px;
}

.searchButton span:after {
    content: '\21B4';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -50px;
    transition: 0.5s;
}

.searchButton:hover span:after {
    opacity: 1;
    right: 0;
}